.hero {
    background: url(/notes.webp) top center / cover, url(/gradient.webp) center / 100% 100%;
    background-color: var(--heroBackground);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.hero .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero .content .instrumentSection div {
    background: linear-gradient(45deg, #F32B37 -20%, #00D1FF 170%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero .about {
    width: 100%;
    max-width: 700px;
}

.hero .title {
    font-family: var(--font-red-hat-display);
    font-weight: 900;
    font-size: 3.75em;
    line-height: 1em;
    text-transform: uppercase;
    
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .buttons {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0px 50px;
}

.hero .buttons a > * {
    height: 100%;
}

.hero .video {
    position: relative;
    aspect-ratio: 16/9;
    max-width: 960px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: var(--borderRadius);
    background: black;
    box-shadow: 0px 25px 100px 0px rgba(0, 0, 0, 0.75);
    contain: layout;
}

.hero .video .gem[data-color="blue"],
.hero .video .gem[data-color="green"] {
    position: absolute;
}

.hero .video .gem[data-color="green"] {
    background: url(/green-gem.webp);
    aspect-ratio: 1;
    height: 227px;
    top: -85px;
    left: -85px;
}

.hero .video .gem[data-color="blue"] {
    background: url(/blue-gem.webp);
    aspect-ratio: 1;
    height: 149px;
    bottom: -35px;
    right: -85px;
}

.hero .video :is(iframe) {
    width: 100%;
    height: 100%;
    border-radius: var(--borderRadius);
    display: block;
    border: none;
}

.featureCard {
    position: absolute;
    padding: 25px;
    border: 1px solid rgba(255,255,255,0.1);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), rgba(255, 255, 255, 0.05);
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    max-width: 40%;
}

.featureCard .featureTitle {
    font-size: 16px;
    font-weight: 700;
}

.featureCard .featureDescription {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.75;
}

.featureCard[data-position="left"] {
    left: -5%;
    top: 45%;
}

.featureCard[data-position="top"] {
    left: 15%;
    top: -5%;
}

@media only screen and (min-width: 1500px) {
    .hero .content {
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        padding-bottom: 55px;
        padding-left: min(10%, 100px);
        padding-right: 10px;
        text-align: left;
    }

    .hero .about {
        max-width: 650px;
    }
    
    .hero .buttons {
        padding: 0;
    }

    .hero .title {
        align-items: flex-start;
    }

    .hero .video {
        max-width: 820px;
    }

    .hero .video .gem[data-color="green"] {
        top: -15px;
        left: -115px;
    }

    .hero .video .gem[data-color="blue"] {
        bottom: -105px;
        right: 40%;
    }
}

@media only screen and (max-width: 1500px) {
    .hero .featureCard {
        display: none;
    }
}