:root {
  --max-width: 1200px;
  --borderRadius: 8px;
  --blue: #2ED9FF;
  --maxWidth: 1200px;

  --background: white;
  --foreground: #333;

  --heroBackground: #060811;
  --headerBackground: #05060B;
  --headerAccent: #717F9E;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: var(--max-width);
}