.header {
    --_gap: 25px;
    display: flex;
    padding: 0px var(--_gap);
    gap: calc(var(--_gap) * 2);
    width: 100%;
    height: 75px;
    align-items: center;

    background: var(--headerBackground);
    color: #fff;
}

.header[data-mode="transparent"] {
    background: none;
}

.header .logo {
    height: 60%;
}

.header ul {
    color: #fff;
    display: flex;
    gap: var(--_gap);
    margin-left: auto;
}

.header li {
    list-style: none;
}

.header .user {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 15px;
}

.header .button {
    background: var(--blue);
    color: #000;
    padding: 10px 20px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.header .username::before {
    content: "Hey, ";
    font-weight: 400;
}

.header .avatar {
    border: 3px solid rgba(255, 255, 255, 0.05);
    border-radius: 100%;
    aspect-ratio: 1;
    height: 32px;
}