.header {
    width: 100%;
    position: relative;
}

.bar {
    --_gap: 25px;
    display: flex;
    padding: 0px 15px;
    width: 100%;
    height: 75px;
    align-items: center;

    background: var(--headerBackground);
    color: #fff;
}

.bar ul {
    color: #fff;
    display: flex;
    gap: var(--_gap);
    margin-left: auto;
    margin-right: 15px;
}

.bar li {
    list-style: none;
}

.separator {
    display: flex;
    gap: var(--_gap);
}
