.sidebar {
  background-color: #070810;
  height: 100dvh;
  width: 75px;
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.sidebar[aria-expanded="true"] {
  width: 320px;  
}

.sidebar[aria-expanded="false"] .link {
  justify-content: center;
}

.sidebar[aria-expanded="false"] .name {
  display: none;
}

.navigation {
  padding-top: 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
}

.separator {
  margin: 12px 24px;
  height: 1px;
  background-color: #2d2f49;
}

.separatorNamed {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 24px;
  margin-left: 12px;
  height: 30px;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #2d2f49;
  text-transform: uppercase;
}

.link {
  cursor: pointer;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5px;
  margin: 0px 12px;
  padding: 10px;
  color: #b8bdd6;
  border-radius: 6px;
  overflow-x: hidden;
  background-color: transparent;
  border: none;
}

.link:hover {
  background-color: #0d0d23;
  color: #d4d9ee;
}

button.link {
  justify-content: center;
}

.active::before{
  position: absolute;
  content: "";
  background-color: #2ed9ff;
  width: 5px;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

.link:hover .icon {
  color: #d4d9ee;
}

.icon {
  padding: 3px;
  width: 26px;
  height: 26px;
  min-width: 26px;
  min-height: 26px;
  color: #60688C;
}

.name {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.release {
  height: 110px;
  border-radius: 12px;
  background-color: #05050b;
  color: #14172c;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

.release img {
  border-radius: 12px;
}

.controls {
  margin: 12px;
  display: flex;
  gap: 6px;
}

.controls button {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #1f223a;
  border-radius: 12px;
  height: 42px;
}

.controls button:hover {
  background-color: #0d0d23;
  color: #d4d9ee;
}

.buttonTheme {
  width: 42px;
}

.buttonLanguage {
  flex: 1;
  color: #8a91b2;
}

.select {
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #1f223a;
  border-radius: 12px;
  height: 42px;
  padding: 12px;
  font-size: 14px;
  color: #8a91b2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position:relative;
  flex: 1;
}

.relative {
  position: relative;
}